body {
    background-image: url(./pics/backgroundimg.png.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f9fc89;
}

p {
    font-size: 19px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar  {
    background-color: #f9fc89;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

.navbar a {
    float: right;
    font-size: 16px;
    text-align: center;
    color: black;
    padding: 13px 15px;
    text-decoration: none;
    
    }

.navbar a.active {
        background-color: black;
        color: #f7ff4f;
      }

nav :hover {
    background-color: grey;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid white
}

button {
    background-color: grey;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: black;
    color: white;
}
